/* ================= 主色系 ================= */
$primary: #459767; // 主色
$primary-light: #52ae7b; // 主辅

$warning: #fff5df; // 次辅助
$danger: #ff4c10; // 辅助色
$danger-secondary: #ea412a;
$mark: #ffa249;
/* ================= 文本 ================= */
$text-primary: #181b19; // 字体主色
$text-regular: #434343; // 字体辅色
$text-secondary: #a2a2a2; // 次要文字色

/* ================= 背景 ================= */
$bg-page: #f8f8f8; // 背景色
$bg-card: #ffffff; // 卡片背景
$bg-soft: #fff5df; // 浅米色
$bg-mask: rgba(0, 0, 0, 0.5); // #000000 50%

/* ================= 边框 ================= */
$border-color: #d8d8d8; // 线条色   边框  分割线

/* ================= 投影 ================= */
$shadow-color: rgba(68, 68, 68, 0.02); // #444444 2%
