$space-0: 0rpx;
$space-4: 4rpx;
$space-8: 8rpx;
$space-12: 12rpx;
$space-16: 16rpx;
$space-20: 20rpx;
$space-22: 22rpx;
$space-24: 24rpx;
$space-28: 28rpx;
$space-32: 32rpx;
$space-36: 36rpx;
$space-40: 40rpx;
$space-44: 44rpx;
$space-48: 48rpx;
$space-52: 52rpx;
$space-56: 56rpx;
$space-60: 60rpx;
$space-64: 64rpx;
$space-68: 68rpx;
$space-72: 72rpx;
$space-104: 104rpx;
