.page {
	width: 100vw;
	height: 100vh;
	background-color: $bg-page;
	overflow: auto;
}

.img-box {
	width: 100%;
	height: 100%;
}
.img-circle {
	border-radius: 50%;
}



// .section {
//   margin-bottom: $space-lg;
// }
